* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefae0;
    font-family: "Open Sans", sans-serif;
   
   
    
}
  header {
    background-color: #bc6c25;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.alertBtns {
    height: 75px;
    width: 150px;
    background-color: yellow;
   
    
}
#img {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btn-boxes {
    display: flex;
   flex-direction: column;
   align-items: center;
    margin: 10px;
}